.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#ffff, rgb(6, 160, 231));
  
}

body, html {
  height: 100%;
  margin: 0;
}